/* 2. Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* 1. Import Tailwind */
@import "tailwindcss";

/* 2. Plugins / Preline */
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";



/* 3. Variables globales CSS */
:root {
  --primary-color: #2563EB;
  --secondary-color: #0187FE;
  --logo-color: #EBF2FF;
  --secondary-text: #919397;
  --background-color: #FFFF;
  --primary-text: #1F2937;
}

@theme inline {
    --color-primary : var(--primary-color);
    --color-secondary : var(--secondary-color);
    --color-logo : var(--logo-color);
    --color-secondary-text : var(--secondary-text);
    --color-background : var(--background-color);
    --color-primary-text : var(--primary-text);
}
/* 4. Classe CSS manuelle (utilisable partout) */


/* 5. Style global body */
body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Outfit;
    font-size: 18px;

}

h1 {
    font-size: 40px;
    
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}

span {
    font-size: 16px;
}


/*------------------------------ Mobile ------------------------------*/

.h1-mobile {
    font-size: 28px;
}
.h2-mobile {
    font-size: 22px;
}
.h3-mobile {
    font-size: 20px;
}
.h4-mobile {
    font-size: 18px;
}
.body-mobile {
    font-size: 16px;
}
.span-mobile {
    font-size: 12px;
}





